.m-body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F5F5F5;
}

.m-navbar{
	background-color: #0060A4;
}

#navbarlink{
	color: white;
	font-size: 14px;
	border: 1px solid white;
	border-radius: 5px;
}

#m-b-home{
	color: white;
	font-size: 16px;
}

#active-nav-link{
	color: #0060A4;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid white;
	border-radius: 5px;
	background-color: white;
}

.m-progress-bar{
	padding: 15px;
	background-color: white;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.m-progress-bar-item{
	display: inline-block;
	font-size: 14px;
	line-height: 25px;
}
.m-progress-bar-item-number{
	height: 25px;
	width: 25px;
	display: inline-block; 
	color: white;
	line-height: 25px;
	font-size: 11px;
	background-color: #0060A4;
	border-radius: 50%;
	text-align: center;
	margin-right: 3px;
}
.m-progress-bar-item-done{
	height: 25px;
	width: 25px;
	display: inline-block; 
	line-height: 25px;
	border-radius: 50%;
	margin-right: 3px;	
}
.m-progress-bar-item-done>img{
	width: 25px;
	display: inline-block; 
	border-radius: 50%;
}

.m-container{
	background-image: url("images/content_background_img.png");
	margin-top: 25px;
  	background-repeat: no-repeat;
  	background-position: left bottom;
  	background-size:100% 100%;
  	background-attachment: scroll; 
}

.m-container-body{
	max-width: 850px;
	background-color: white;
	margin: auto;
}
.m-container-body>p{
	color: #0060A4;
    font-weight: 600;
}
.m-form{
	font-size: 14px;
	color: #95A4A4;
}
#m-btn{
	 color: white; background-color: #0060A4;
}
#m-b-btn{
	 margin-right: 10px; color: white; background-color: #95A4A4;
}
.m-required{
    color: red;
}

.m-footer{
	background-color: white;
}
.m-footer-row{
	font-size: 14px;
}
.m-contact-link{
	display: block;
	text-decoration: none;
	color: #3B3B3B;
	font-size: 13px;
}

.m-follow-us-link{
	display: inline-block;
	width:30px;
}

.m-footer p{
	font-weight: 700;
	color: #9E9E9E;
	margin-bottom: 5px;
}
.m-get-in-touch{
	margin-bottom: 20px;
}
.m-get-in-touch>div{
	margin-left: 10%;
}
.m-download-app{
	margin-bottom: 20px;
}
.m-download-app>p{
	margin-left: 10%;
}
.m-download-app>a{
	display: inline-block; margin-left: 10%; width:80%; max-width: 250px
}
.m-follow-us{
	margin-bottom: 20px;
}
.m-follow-us>div{
	margin-left: 10%;
}


/*registration 3*/

#m-online-payment{
	width: 49%;color: white; background-color: #0060A4; font-size: 14px;
}
#m-cash-payment{
	width: 49%;color: #0060A4; border: 1px solid #0060A4; font-size: 14px;
}

/*appoinment request*/

.m-service-type-item{
	text-align: center;
	 border: 1px solid #0060A4;
	 border-radius: 5px;
	 color: #0060A4;
}
.m-service-type-item-active{
	background-color: #0060A4;
	color: white;
	text-align: center;
	 border: 1px solid #0060A4;
	 border-radius: 5px;
}
/* Small devices (landscape phones, 544px and up) */
/*@media (min-width: 544px) {
	#get_in_touch{
		border-right: 1px solid #9E9E9E;
		margin-bottom: 0;
    }
    #download_app{
    	margin-bottom: 0;
	}
    #follow_us{
    	border-left: 1px solid #9E9E9E;
    	margin-bottom: 0;
	}
	#footer p{
		margin-bottom: 10px;
		margin-top: 0px;
	}
}*/

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
	.m-get-in-touch{
		border-right: 1px solid #9E9E9E;
		margin-bottom: 0;
    }
    .m-download-app{
    	margin-bottom: 0;
	}
    .m-follow-us{
    	border-left: 1px solid #9E9E9E;
    	margin-bottom: 0;
	}
	.m-footer p{
		margin-bottom: 10px;
		margin-top: 0px;
	}
	.m-get-in-touch>div{
		margin-left: 0;
	}
    .m-follow-us>div{
		margin-left: 0;
	}
}